@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color1: #090a23;
  --primary-blue: 0, 0, 255;
  --circle-size: 80%;
}

@font-face {
  font-family: "Clash Display";
  src: url("./assets/fonts/ClashDisplay/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Fontspring";
  src: url("./assets/fonts/FONTSPRING-DEMO-Blunt-Con/Fontspring-DEMO-blunt-con.otf")
    format("opentype");
}

body {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  padding: 24px;
  transition: padding 0.3s ease-in-out;
  background-color: #000;
}

button, a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    padding: 16px;
  }
}

@media (max-width: 375px) {
  body {
    padding: 10px;
  }
}