* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: padding 0.3s ease-in-out;
  background-color: #000;
}

button {
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  body {
    padding: 16px;
  }
}

@media (max-width: 375px) {
  body {
    padding: 10px;
  }
}

@font-face {
  font-family: "Clash Display";
  src: url("./assets/fonts/ClashDisplay/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Fontspring";
  src: url("./assets/fonts/FONTSPRING-DEMO-Blunt-Con/Fontspring-DEMO-blunt-con.otf")
    format("opentype");
}
